.buttonContainer{
  cursor: pointer;
  width: 378px;
  height: 54px;
  background: #2581C5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal 300 16px/21px Lato;
  letter-spacing: 0px;

}
@media screen and (max-width: 378px) {
  .buttonContainer{
    cursor: pointer;
    width: 350px;
    height: 54px;
    background: #2581C5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: normal normal 300 16px/21px Lato;
    letter-spacing: 0px;

  }
}
